<html>
    <head>
        <link rel="stylesheet" href="static/css/index.css" />
    </head>
<body>
<kafa>


    <ul>
        <div class="disdiv"><li class="duyurular"><a>Duyurular</a></li></div>
        <li><a href="short">Link Kısalt</a></li>
        <li><a href="index">Api Key</a></li>
        <li><a href="links">Linklerim</a></li>
    </ul>
    <div>
        <img src="static/img/beyazlogo.png" class="logo"></img>
    </div>
</kafa>
<div class="ickisim">

<p class="linkxyazi">LinkX</p>
<div class="linkxyazialani">

        <p class="linkxyazi2">
            Linklerinizi en güvenli ve en hızlı şekilde kısaltıp, en verimli şekilde yönetmenizi sağlıyoruz. Sitemiz size en iyi deneyimi sunmak için tamamen ücretsiz bir şekilde tasarlandı. Linklerinizin istatistiklerini rahatça görebileceğiniz paneller, linklerinizi kontrol edebileceğiniz sayfalar ve daha fazlası ! Linklerinizi kısaltmaya başlamak için hemen ücretsiz bir şekilde kayıt olun !    
        </p>

</div>
<div class="shortresim">
    <img src="static/img/ata.png" class="shortresim"></img>
</div>

<div class="butonlarim">
    <a href="login"><button class="one">Giriş Yap</button></a>
    <a href="register"><button>Kayıt Ol</button></a>
</div>

</div>



<a  target="_blank" href="https://t.me/pyturkey"><img class="telegram" src="static/img/th.png"  alt="Telegram Adresimiz"></a>

</body>
</html>