<html>
<head>
    <link rel="stylesheet" href="static/css/register.css" />
</head>
<body>


<div class="login">
    <img class="logo" src="static/img/siyahlogo.png">

    <form id="formit" class="formit" method="POST">
        <input placeholder="Kullanıcı Adı" name="username">
        <input placeholder="Mail" name="mailadress">
        <input type="password" placeholder="Şifre" name="password">
        <button class="giris">Giriş</button>
    </form>
    <a class="zatenvar" href="login">Zaten bir hesabın var mı?</a>

</div>



<div class="solyazi">
    <p class="bslikyazi">LinkX Nedir ?</p></b>
    <p>
    LinkX uzun ve görüntü kirliliği oluşturan linklerinizi kısaltmanıza ve daha göze hitap eden şekile getirmenize yarayan bir link kısaltma aracıdır. Bu kadar mı ? Tabii ki hayır. Üye olduğunuz taktirde kısalttığınız linklerinizin istatistiklerini kolayca görebilirsiniz! İsterseniz linklerinizi siler isterseniz karantinaya alırsınız! Üstelik bu özellikler tamamen ücretsiz. Bu özelliklerden faydalanmak için hemen üye olun, üyeliğiniz var ise giriş yapıp linklerinizi kısaltmaya başlayın.
    </p>
    
    </div>


    
</body>
</html>